/*
für kwm tagesordnung 2016 -2020
*/

table.kwm-table {
    /*table-layout:fixed;
    border-top: 3px solid #c0c0c0;*/
    background-color:#f1f1f1;
    border-left:0;
    border-right:0;
    border-bottom:1px solid #eee;
    max-width:99%!important;
    position:absolute;
    left:10px;
}

table.kwm-table a:hover{
    color: #134fc6;

}


table.kwm-table td {
    overflow: hidden;
}

.kwm-table{
    width:100%;
    /*border-right:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;*/
    margin:0;
}

.kwm-table .results{
    background-color:#fff;
}

.kwm-table td{
    border-bottom:1px solid #ffffff;
    vertical-align:top;
}
.kwm-table th{
    vertical-align:top;
    overflow:auto;
    vertical-align:baseline;
    color:white!important;
    background-color:#134FC6;
    text-align:center;
}
.kwm-table-column-top{
    width:5%;
    font-size: 150%!important;
    padding-left:5px;
    text-align:left;
}
.kwm-table-column-sub{
    width:5%;
    padding-left:5px;
    text-align:left;
    border:0!important;
    box-shadow:none;
}
.kwm-table-column-desc{
    width:30%;
    padding:0 5px;
}
.kwm-table-column-desc.maintop b{
    font-size:120%;
}
.kwm-table-column-desc.maintop strong{
    font-size:120%;
}
.kwm-table-column-resp{
    width:13%;
    padding:0 5px;
}
.kwm-table-column-time{
    width:7%;
    text-align:right;
    padding-right:5px;
}
.kwm-table-column-cat{
    width:5%;
    text-align:center;
}
.kwm-table-column-cat img{
    max-width:30px;
    max-height:30px;
}
.kwm-table-column-rel{
    width:35%;
    padding-left:5px;
}

.kwm-table-column-cat i.fa {
    font-size: xx-large;
    text-align: center;
    width: 100%;
    color: blue;
}
.kwm-table-column-cat i.fa-handshake-o{
    color: magenta;
}
.kwm-table-column-cat i.fa-comments{
    color: blue;
}
.kwm-table-column-cat i.fa-reply-all{
    color: green;
}
.kwm-table-column-cat i.fa-info-circle{
    color: orange;
}
/* Print Styles */
@media print {

}

@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
    /* default iPhone screens */
    .cat-legende, .kwm-table-column-resp, .kwm-table-column-time, .kwm-table-column-cat, .kwm-table th{
        display:none;
    }
    .kwm-table-column-desc{
        width:50%;
        padding:0 0 0 5px;
    }
    .kwm-table-column-desc.maintop b{
        font-size:100%;
    }
    .kwm-table-column-sub{
        padding-left:0;
    }

}
@media only screen and (max-device-width:768px){
    /* default iPad screens */
    .kwm-table-column-desc{
        width:40%;
        padding:0 0 0 5px;
    }
    .kwm-table-column-desc.maintop b{
        font-size:100%;
    }
    .kwm-table-column-sub{
        padding-left:0;
    }


}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

